* {
	box-sizing: border-box;
	font-family: 'lato';
}

h2, h5 {
	font-family: 'Josefin Sans';
}

h2 {
	font-weight: 800;
}

h5 {
	font-weight: 600;
	color: #fb2e86;
}

h5.card-title {
	font-weight: 800;
	color: #000000;
}

.navbar {
	padding-left: 70px;
	padding-right: 70px;
}

.navbar a {
	font-family: 'Josefin Sans';
	color: #000000;
}

.navbar-brand {
	font-weight: bold;
}


.dropdown-item.active {
	background: #fb2e86;
}

/* Style the search field */
form.example input[type="text"] {
	padding: 10px;
	border: 1px solid #f2f0ff;
	float: left;
	width: 80%;
	height: auto;
	background: #f1f1f1;
}

/* Style the submit button */
.btn {
	float: left;
	width: 20%;
	padding: 10px;
	background: #fb2e86;
	color: white;
	font-size: 16px;
	border: 1px solid #f2f0ff;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
}

.btn:hover {
	background: #cf0c77;
}

.topbar-kiri {
	color: white;
}

.center-cropped {
	width: 200px;
	height: auto;
	background-position: center center;
	background-repeat: no-repeat;
}

.carousel-item .row1 {
	text-align: left;
	position: relative;
}

.products .col {
	text-align: center;
}

.hero {
	font-weight: bolder;
	background-color: #ebdcff;
}

.hero a {
	color: #000000;
}

.hero a.active {
	color: #fb2e86;
}